@font-face {
  font-family: CalligraphyHandMade;
  src: url("../resources/fonts/calligraphyhandmade.ttf");
}

@font-face {
  font-family: Alamain;
  src: url("../resources/fonts/alamain1.ttf");
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.background-image {
  background-image: url("../resources/images/roguelight-background.jpg");

  filter: blur(3px);
  -webkit-filter: blur(3px);

  /* Change to take up all screen regardless of size */
  height: 110%;
  width: 110%;
  position: absolute;
  top: -3%;
  left: -3%;

  background-size: cover;
  background-repeat: no-repeat;
}

/*.container {
  height: 100%;
  width: 100%;
  position: relative;
}*/

.content {
  font-size: 1.75em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.content > div,
.content > img
 {
  padding-left: 10vw;
  padding-right: 10vw;
}

.scrollable-flex-content {
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  text-align: center;
}

p.game-title {
  color: cyan;
  font-family: CalligraphyHandMade;
  font-size: 12vw;
}

img.game-title{
  object-fit: contain;
  width: 50vw;
  align-self: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.video-mask {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5vh;
}

@media only screen and (min-width: 0) {
  .video-mask > video {
    width: 75vw;
  }
}
@media only screen and (min-width: 1280px) {
  .video-mask > video {
    width: 50vw;
  }
}

#carouselExampleIndicators {
  margin-bottom: 2.5vh;
}

@media only screen and (min-width: 0) {
  #carouselExampleIndicators {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1280px) {
  #carouselExampleIndicators {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 7.5vh;
}

.links > div:hover {
  box-shadow: 1px 1px 10px 5px white;
}

@media only screen and (min-width: 0) {
  .links {
    flex-direction: column;
  }
  .links > div {
    margin-top: 5vw;
    padding: 2.5vw;
  }
}
@media only screen and (min-width: 1280px) {
  .links {
    flex-direction: row;
  }
  .links > div {
    padding: 1vw;
  }
}

.download {
  /*background-color: #ff8fbd;*/
  background-color: #c9c9c9;
  border-radius: 10px;
  font-family: Alamain;
}

.source {
  /*background-color: #00d1d6;*/
  background-color: #c9c9c9;
  border-radius: 10px;
  font-family: Alamain;
}

.made-by {
  display: flex;
  color: white;
  font-family: Alamain;
  justify-content: space-evenly;
  margin-bottom: 7.5vh;
}

@media only screen and (min-width: 0) {
  .made-by {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1280px) {
  .made-by {
    flex-direction: row;
  }
}

.maintenance {
  color: #ff8fbd;
  text-shadow: 0 0 10px red;
  font-family: Alamain;
  margin-bottom: 7.5vh;
}

.made-by > div {
  text-align: center;
}

.made-by > div > ul {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}

.made-by > div > ul > li {
  padding-top: 2vh;
}

.who {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10vh;
}

.grupo-proyecto {
  height: 150px;
}

.bsm-upf {
  height: 50px;
}